<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="page-title">コメント一覧</h4>
      <table class="table">
        <thead class="thead-color">
          <tr>
            <th>投稿日時</th>
            <th>ユーザーID</th>
            <th>ユーザー名</th>
            <th>コメント内容</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @comments.each do |comment| %>
          <tr>
            <td><%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
            <td><%= comment.customer.id %></td>
            <td>
              <%= link_to admin_comment_path(comment.id), class: '', method: :get do %>
                <%= comment.customer.name %>
              <% end %>
            </td>
            <td><%= comment.comment_content %></td>
            <td>
              <%= link_to 'Destroy', admin_comment_path(comment.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-sm btn-danger' %>
            </td>
            <!--コメント投稿者のアカウントステータス-->
            <!--<td>-->
              <%# if comment.customer.is_deleted == false %>
                <!--<div class="text-success font-weight-bold">有効</div>-->
              <%# else %>
                <!--<div class="text-secondary font-weight-bold">退会</div>-->
              <%# end %>
            <!--</td>-->
          </tr>
          <% end %>
        </tbody>
      </table>
      <%#= paginate @customers %>
    </div>
  </div>
</div>