<div class="alert alert-notice">
  <!--×は特殊文字の&times;で指定-->
  <%= flash[:notice] %><button type="button" class="close" data-dismiss="alert">&times;</button>
</div>

<div class="container">
  <div class="row g-4">
    <%#= render partial: 'books/user_info', locals: { user: @book.user, post_book: @book_n } %>
    <!--<div class="col-md-8 offset-md-1">-->
    <!--d-noneはdisplayを非表示にするため、d-lg-blockでdisplay設定を変更しないと、その後のcol-lg-4は表示されない-->
    <div class="d-none d-lg-block col-lg-4">
      <h2 style="margin-bottom: 15px;">投稿者</h2>
      <p><%= image_tag @customer.get_profile_image(200,200) %></p>
      <table class="table">
        <tbody>
          <tr></tr>
          <tr class="user-info">
            <th>name</th>
            <th><%= @customer.name %></th>
          </tr>
          <tr class="user-info">
            <th>introduction</th>
            <th><%= @customer.introduction %></th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-12 col-lg-8 vstack gap-4">
      <h2>Book detail</h2>
      <div class="card">
        <div class="card-header border-0 pd-0">
          <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
              <!--プロフィール-->
              <div class="avatar avatar-story me-2">
                <%= link_to customers_my_page_path do %>
                  <%= image_tag @customer.get_profile_image(100,100) %><br>
                <% end %>
              </div>
              <div>
                <div class="nav nav-divider">
                  <h6 class="nav-item card-title md-0" style="padding: 0 5px 0 15px;">
                    <%= link_to customers_my_page_path do %>
                      <%= @customer.name %>
                    <% end %>
                  </h6>
                  <!--<span class="nav-item small">-->
                    <%#= @post.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
                  <!--</span>-->
                </div>
                <span class="nav-item small" style="padding-left: 15px;">
                  <%= @post.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
                </span>
                <p class="md-0 small" style="padding-left: 15px;">
                  <%= @customer.introduction %>
                </p>
              </div>
            </div>
            <div class="bookmark">
              <!--ブックマーク登録機能-->
              <% if @post.bookmarked_by?(current_customer) %>
                <%#= link_to "ブックマークを外す", post_bookmarks_path(@post), method: :delete %>
                <%= link_to post_bookmarks_path(@post), class: 'btn btn-outline-secondary btn-block', method: :delete do %>
                  <i class="fas fa-bookmark"></i>
                <% end %>
              <% else %>
                <%#= link_to "ブックマーク", post_bookmarks_path(@post), method: :post %>
                <%= link_to post_bookmarks_path(@post), class: 'btn btn-outline-secondary btn-block', method: :post do %>
                  <i class="far fa-bookmark"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <!--記事内容-->
        <div class="card-body">
          <h5 class="nav-item card-title md-0" style="font-weight: bold;">
            <%= @post.title %>
          </h5>
          <p>
            <%= @post.body %>
          </p>
          <!--投稿画像-->
          <%= image_tag @post.get_front_image(600,270), class: 'card-img' %>
          <ul class="nav nav-stack py-3 small">
            <li class="row">
              <!--@postで１つの投稿を選出して、tags（Tag.allと同じ意味)で投稿に連なったタグをすべて表示する。-->
              <h6>タグ:　</h6>
              <% @post.tags.each do |tag| %>
                <p style="margin-right: 20px;">
                  <%= tag.tag_name %>
                </p>
              <% end %>
            </li>
          </ul>
          <div>
            <!--投稿編集ボタン-->
            <% if @post.customer == current_customer %>
              <%= link_to edit_post_path(@post.id), class: 'btn btn-sm btn-success' do %>
                <i class="fas fa-edit" title="編集する"></i>
              <% end %>
            <% end %>
            <!--投稿削除ボタン-->
            <% if @post.customer == current_customer %>
              <%= link_to post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-sm btn-danger' do %>
                <i class="fas fa-trash-alt" title="削除する"></i>
              <% end %>
            <% end %>
          </div>

          <!--コメント投稿-->
          <div class="d-flex md-3" style="margin-top: 15px;">
            <div class="avatar avatar-xs me-2 trim-image-to-circle" style="margin-right: 5px;">
              <%= link_to customers_my_page_path do %>
                <%= image_tag current_customer.get_profile_image(80,80), class: 'avatar avatar-xs me-2 trim-image-to-circle' %><br>
              <% end %>
            </div>
            <div class="w-100">
              <%= form_with model:[@post, @comment] do |f| %>
                <%= f.text_area :comment_content, placeholder: "コメントをここに記入", class: 'form-control pe-4 bg-light' %>
                <%# f.hidden_field :post_id, value: @post.id %>
                <%= f.submit '送信', class: 'btn btn-success', style: 'margin-top: 10px;', title: "コメントを送信する" %>
              <% end %>
            </div>
          </div>

          <!--コメント内容-->
          <ul class="comment-wrap list-unstyled" style="margin-top: 15px;">
          <% @comments.each do |comment| %>
            <li class="comment-item" style="margin-bottom: 5px;">
              <div class="d-flex position-relative">
                <div class="avatar avatar-xs trim-image-to-circle">
                  <%= link_to customers_my_page_path do %>
                    <%= image_tag comment.customer.get_profile_image(80,80), class: 'avatar avatar-xs me-2 trim-image-to-circle' %><br>
                  <% end %>
                </div>
                <div class="ms-2">
                  <div class="bg-light rounded-start-top-0 p-3 rounded">
                    <div class="d-flex justify-content-between">
                      <p class="mb-1">
                        <%= comment.customer.name %>
                      </p>
                      <small class="ms-2">
                        <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
                      </small>
                      <%= link_to post_comment_path(comment.post.id, comment.id), method: :get do %>
                        <i class="fas fa-search-plus" title="コメントを拡大する"></i>
                      <% end %>
                    </div>
                    <p class="small md-0">
                      <%= comment.comment_content %>
                    </p>
                    <!--ルーティングをネストしている場合は引数2つ必要-->
                    <% if comment.customer == current_customer %>
                      <%= link_to post_comment_path(comment.post.id, comment.id), method: :delete, "data-confirm" => "コメントを削除しますか？", class: 'btn btn-sm btn-danger' do %>
                        <i class="fas fa-trash-alt" title="コメントを削除する"></i>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
          </ul>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
  </div>
</div>

