ここは投稿詳細画面

<div class="container">
  <div class="row">
    <%#= render partial: 'books/user_info', locals: { user: @book.user, post_book: @book_n } %>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
            <tr>
              <!--ブックマーク登録機能-->
              <% if @post.bookmarked_by?(current_customer) %>
                <td><%= link_to "ブックマークを外す", post_bookmarks_path(@post), method: :delete %></td>
              <% else %>
                <td><%= link_to "ブックマーク", post_bookmarks_path(@post), method: :post %></td>
              <% end %>
              <td>
                <!--投稿者の名前-->
                <%= link_to customers_my_page_path do %>
                  <%= image_tag @customer.get_profile_image(100,100) %><br>
                  <%= @customer.name %>
                <% end %>
              </td>
              <td>
                <!--投稿タイトル-->
                <%= link_to post_path(@post) do %>
                  <%= @post.title %>
                <% end %>
              </td>
              <td>
                <!--投稿内容-->
                <%= @post.body %>
              </td>
              <td>
                <!--投稿編集ボタン-->
                <% if @post.customer == current_customer %>
                  <%= link_to 'Edit', edit_post_path(@post.id), class: 'btn btn-sm btn-success' %>
                <% end %>
              </td>
              <td>
                <!--投稿削除ボタン-->
                <% if @post.customer == current_customer %>
                  <%= link_to 'Destroy', post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-sm btn-danger' %>
                <% end %>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <!--投稿画像-->
    <%= image_tag @post.get_front_image(200,400) %>
  </div>
  <div class="row">
    <!--@postで１つの投稿を選出して、tags（Tag.allと同じ意味)で投稿に連なったタグをすべて表示する。-->
    <h3>タグ:　</h3>
    <% @post.tags.each do |tag| %>
      <h3 style="margin-right: 20px;">
        <%= tag.tag_name %>
      </h3>
    <% end %>
  </div>

  <!--コメント機能欄-->
  <div class="comment-container">

    <h3>コメントをする</h3>
    <%#= form_with(model: [@post, @comment], url: post_comments_path, method: :post) do |f| %>
    <%= form_with model:[@post, @comment] do |f| %>
      <%= f.text_area :comment_content, placeholder: "コメントをここに記入", class: 'form-control' %>
      <%# f.hidden_field :post_id, value: @post.id %>
      <%= f.submit 'コメントする', class: 'btn btn-success' %>
    <% end %>

    <h3>コメント一覧</h3>
    <% @comments.each do |comment| %>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= image_tag comment.customer.get_profile_image(20,40) %>
            </td>
            <td>
              <%= comment.customer.name %>
            </td>
            <td>
              <%= comment.comment_content %>
            </td>
            <td>
              <!--ルーティングをネストしている場合は引数2つ必要-->
              <% if comment.customer == current_customer %>
                <%= link_to 'Destroy', post_comment_path(comment.post.id, comment.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-sm btn-danger' %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    <% end %>

  </div>

</div>