<!--<h1>ここはhomesのtopです</h1>-->

<!--<div class="container">-->
<!--  <div class="main-image">-->
<!--    <%#= image_tag asset_path('family-bitiku-2.jpg') %>-->
<!--    <div class="main-image-text">-->
<!--      <p>いつ来るか分からない物の消失に備えて</p>-->
<!--      <p>生き残る備えを</p>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="main-image">-->
<!--    <%#= image_tag asset_path('maki-bitiku.jpg') %>-->
<!--    <div class="main-image-text">-->
<!--      <p>電気が常に使えるとは限らない</p>-->
<!--      <p>ガソリンの輸入が止まるかもしれない</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light welcome-message">PREPPERS</h1>
      <p class="lead text-muted">xxxxxxxxx xxxxx xxx xxxxxxx xxxxx xxx xxxxxxxxx xxxxxxxxx xxxxxxx, xxx xxxxxxx, xxx. xxxx xx xxxxx xxx xxxxx, xxx xxxx xxx xxxxx xx xxxxx xxxx xxxxxx xxxx xxxx xx xxxxxxxxx.</p>
      <p>
        <!--<a href="#" class="btn btn-primary my-2">Main call to action</a>-->
        <!--<a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
        <% unless signed_in? %>
          <%= link_to "Sign up", new_customer_registration_path, class: 'btn btn-primary my-2' %>
          <%= link_to "Sign in", new_customer_session_path, class: 'btn btn-secondary my-2' %>
        <% end %>

        <% if customer_signed_in? %>
          <%= link_to "投稿集", posts_path, class: 'btn btn-success my-2' %>
          <%= link_to "投稿する", new_post_path, class: 'btn btn-info my-2' %>
        <% end %>

        <% if admin_signed_in? %>
          <%= link_to 'ユーザー管理', admin_customers_path, method: :get, class: 'btn btn-primary my-2' %>
          <%= link_to 'コメント一括管理', admin_comments_path, method: :get, class: 'btn btn-secondary my-2' %>
        <% end %>
      </p>
    </div>
  </div>
</section>

<div class="album py-5 bg-light">

</div>
