<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="page-title">ユーザー一覧</h4>
      <p>ユーザーの総数: <%= @customers.count %></p>
      <p>有効ユーザーの総数: <%= @valid_customers.count %></p>
      <p>退会ユーザーの総数: <%= @invalid_customers.count %></p>
      <table class="table">
        <thead class="thead-color">
          <tr>
            <th>ユーザーID</th>
            <th>ユーザー名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
            <th>DELETE</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td>
              <%= link_to admin_customer_path(customer.id), class: '', method: :get do %>
                <%= customer.name %>
              <% end %>
            </td>
            <td><%= customer.email %></td>
            <!--<td></td>-->
            <td>
              <% if customer.is_deleted == false %>
                <div class="text-success font-weight-bold">有効</div>
              <% else %>
                <div class="text-secondary font-weight-bold">退会</div>
              <% end %>
            </td>
            <td>
              <%= link_to "強制削除", admin_customer_path(customer.id), method: :delete, "data-confirm" => "このアカウントを削除しますか？", class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%#= paginate @customers %>
    </div>
  </div>
</div>