<h2>Results index</h2>

<table class="table table-hover table-inverse">
  <!--検索対象モデルがCustomerの時 -->
  <% if @range == "Customer" %>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.name %></td>
        </tr>
      <% end %>
    </tbody>
  <% elsif @range == "Post" %>
    <!--検索対象モデルががPostの時 -->
    <tbody>
      <% @posts.each do |pos| %>
        <tr>
          <td>
            <%= link_to post_path(pos) do %>
              <%= pos.title %>
            <% end %>
          </td>
          <td><%= pos.body %></td>
        </tr>
      <% end %>
    </tbody>
    <!--検索対象が上記以外の場合（モデルがTag）の時-->
  <% else %>
    <tbody>
      <% @tag_posts.each do |tag_post| %>
        <tr>
          <td>
            <%= link_to post_path(tag_post.id) do %>
              <%= tag_post.title %>
            <% end %>
          </td>
          <td>
            <% tag_post.tags.each do |tag| %>
              <td>
                <%= tag.tag_name %>
              </td>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>