<h4 class="page-title", style="margin-bottom: 25px;">ログイン</h4></br>

<div class="container">
  <h5 class="page-title", style="margin-bottom: 20px;">会員の方はこちらからログイン</h5>

  <%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%#= form_with model: @customer, url: customer_session_path(resource_name), local: true do |f| %>
  <%= form_with model: @customer, url: customer_session_path do |f| %>
    <div class="field form-group row">
      <%= f.label "メールアドレス", class: "col-md-3" %>
      <%= f.email_field :email, class: "col-md-5 form-control", autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
    </div>

    <div class="field form-group row">
      <%= f.label "パスワード", class: "col-md-3" %>
      <%= f.password_field :password, class: "col-md-5 form-control", autocomplete: "current-password" %>
    </div>

    <%# if devise_mapping.rememberable? %>
      <!--<div class="field">-->
        <%#= f.check_box :remember_me %>
        <%#= f.label :remember_me %>
      <!--</div>-->
    <%# end %>

    <div class="actions row", style="margin: 20px 0;">
      <div class="col-md-3"></div>
      <%= f.submit "ログイン", class: "btn btn-primary btn-sm col-md-2" %>
    </div>
  <% end %>

  <h5 class="page-title", style="margin: 40px 0 20px 0;">会員登録がお済でない方</h5></br>

  <div class="row" style="padding-bottom: 200px;">
    <span class="col-md-3"></span>
    <%= render "public/shared/links", class: "col-md-1" %>
    <span class="col-md">から新規登録を行ってください。</span>
  </div>


</div>