<!DOCTYPE html>
<html>
  <head>
    <title>Preppers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="fixed-top">
      <nav class="navbar navbat-expand-md navbar-dark fixed-top bg-white;" style=" z-index: 9999; background-color: white;">
        <div class="header-logo" style="border: 1px solid black; padding: 5px; margin-left: 5%;">
          <%= link_to 'PREPPERS!', root_path %>
        </div>
        <% if customer_signed_in? %>
          <div>
            ようこそ、<%= current_customer.account_name %>さん!
          </div>
        <% end %>
        <div class="nav-button justify-content-end">
          <ul class="navbar-nav mr-auto flex-row">

            <% unless signed_in? %>
            <!--誰もログインしていないときに表示-->
              <button type="button" class="btn btn-outline-secondary">
                <li class="nav-item">
                  <%= link_to "About", about_path %>
                </li>
              </button>
              <button type="button" class="btn btn-outline-secondary">
                <li class="nav-item">
                  ゲストログイン
                  <%#= link_to "商品一覧", items_path %>
                </li>
              </button>
              <button type="button" class="btn btn-outline-secondary">
                <li class="nav-item">
                  <%= link_to "新規登録", new_customer_registration_path %>
                </li>
              </button>
              <button type="button" class="btn btn-outline-secondary">
                <li class="nav-item">
                  <%= link_to "ログイン", new_customer_session_path %>
                </li>
              </button>
            <% end %>

            <% if admin_signed_in? %>
            <!--管理者側表示-->
              <button type="button" class="btn btn-outline-secondary admin-buttom">
                <li class="nav-item">
                  <%= link_to "商品一覧", admin_items_path %>
                </li>
              </button>
              <button type="button" class="btn btn-outline-secondary admin-buttom">
                <li class="nav-item">
                  <%= link_to "会員一覧", admin_customers_path %>
                </li>
              </button>
              <button type="button" class="btn btn-outline-secondary admin-buttom">
                <li class="nav-item">
                  <%#= link_to "コメント一覧",  %>
                </li>
              </button>
              <!--<button type="button" class="btn btn-outline-secondary admin-buttom">-->
              <!--  <li class="nav-item">-->
                  <%#= link_to "ジャンル一覧", admin_genres_path %>
              <!--  </li>-->
              <!--</button>-->
              <button type="button" class="btn btn-outline-secondary admin-buttom">
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
                </li>
              </button>
            <% end %>

            <% if customer_signed_in? %>
            <!--会員がログインしているときに表示-->
              <button type="button" class="btn btn-outline-secondary btn-sm">
                <li class="nav-item">
                  <%= link_to "マイページ", customers_my_page_path %>
                </li>
              </button>
              <button type="button" class="btn btn-outline-secondary btn-sm">
                <li class="nav-item">
                  <%#= link_to "投稿一覧", %>
                </li>
              </button>
              <button type="button" class="btn btn-outline-secondary btn-sm">
                <li class="nav-item">
                  <%#= link_to "いいね一覧", %>
                </li>
              </button>
              <button type="button" class="btn btn-outline-secondary btn-sm">
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
                </li>
              </button>
            <% end %>

          </ul>
        </div>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer class="fixed-bottom">

    </footer>
  </body>
</html>
