<!DOCTYPE html>
<html>
  <head>
    <title>Preppers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=IBM+Plex+Serif:ital,wght@1,300&family=Indie+Flower&family=Kaisei+Opti&family=Sassy+Frass&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="fixed-top">
      <nav class="navbar navbat-expand-md navbar-dark fixed-top bg-dark;" style=" z-index: 9999; background-color: black;">
        <!--<h2 class="header-logo" style="border: 1px solid black; padding: 5px; margin-left: 5%;">-->
          <%#= link_to 'PREPPERS!', root_path, style: 'color: white;' %>
        <!--</h2>-->
        <h2 style="margin: 0 5% 0 5%;">
          <%= link_to root_path, style: 'color: white;' do %>
            <%= image_tag asset_path('logo.jpg') %>
          <% end %>
        </h2>
        <% if customer_signed_in? %>
          <div class="welcome-message" style=" color: white;">
            ようこそ、<%= current_customer.name %>さん!
          </div>
        <% end %>
        <button class="navbar-toggler" style="border: 1px solid white;" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-end" id="navbarCollapse">
          <ul class="navbar-nav mr-auto flex-row">

            <% unless signed_in? %>
            <!--誰もログインしていないときに表示-->
            <ul>
              <li class="nav-item">
                <%= link_to "投稿集", posts_path, class: 'header-list' %>
              </li>
              <li class="nav-item">
                <%= link_to "About", about_path, class: 'header-list' %>
              </li>
              <li class="nav-item">
                <%= link_to "ゲストログイン（閲覧）", homes_guest_sign_in_path, method: :post, class: 'header-list' %>
              </li>
              <li class="nav-item">
                <%= link_to "新規登録", new_customer_registration_path, class: 'header-list' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_customer_session_path, class: 'header-list' %>
              </li>
            </ul>
            <% end %>

            <% if admin_signed_in? %>
            <!--管理者側表示-->
            <ul>
              <li class="nav-item">
                <%= link_to 'ユーザー管理', admin_customers_path, method: :get, class: 'header-list' %>
              </li>
              <li class="nav-item">
                <%= link_to 'コメント一括管理', admin_comments_path, method: :get, class: 'header-list' %>
              </li>
              <li class="nav-item">
                <%= link_to "お知らせ作成", new_admin_announcement_path, method: :get, class: 'header-list' %>
              </li>
              <li class="nav-item">
                <%= link_to "お知らせ一覧", admin_announcements_path, method: :get, class: 'header-list' %>
              </li>
              <li class="nav-item">
                <%#= link_to "コメント一覧",  %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'header-list' %>
              </li>
            </ul>
            <% end %>

            <% if customer_signed_in? %>
            <!--会員がログインしているときに表示-->
            <ul>
              <li class="nav-item">
                <%= link_to "投稿集", posts_path, class: 'header-list' %>
              </li>
              <li class="nav-item nav-link">
                <%= link_to "マイページ", customers_my_page_path, class: 'header-list' %>
              </li>
              <li class="nav-item">
                <%= link_to "About（サイト取り扱い説明書）", about_path, class: 'header-list' %>
              </li>
              <li class="nav-item nav-link">
                <%= link_to "投稿する", new_post_path, class: 'header-list' %>
              </li>
              <li class="nav-item nav-link">
                <%= link_to "ブックマーク", bookmarks_path, method: :get, class: 'header-list' %>
              </li>
              <li class="nav-item nav-link">
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'header-list' %>
              </li>
            </ul>
            <nav style="display: inline-block;">
            </nav>
            <% end %>

          </ul>
          <% if customer_signed_in? %>
            <%= render 'public/shared/search.html.erb' %>
          <% end %>
        </div>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer class="fixed-bottom">
      <p style="color: white; text-align: center;">CopyRight 2022 Y-Ogawa PREPPERS</p>
    </footer>

  <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
  <script>
    bsCustomFileInput.init();

    document.getElementById('inputFileReset').addEventListener('click', function() {

      bsCustomFileInput.destroy();

      var elem = document.getElementById('inputFile');
      elem.value = '';
      var clone = elem.cloneNode(false);
      elem.parentNode.replaceChild(clone, elem);

      bsCustomFileInput.init();

    });
  </script>
  </body>
</html>
